<mat-grid-list cols="4" gutterSize="20px" rowHeight="100px">

    <mat-grid-tile style="background-color: red">
      One
    </mat-grid-tile>

    <mat-grid-tile style="background-color: red">
      Two
    </mat-grid-tile>

    <mat-grid-tile style="background-color: red">
        three
    </mat-grid-tile>

    <mat-grid-tile style="background-color: red">
    four
    </mat-grid-tile>

    <mat-grid-tile style="background-color: red">
    five
    </mat-grid-tile>

    <mat-grid-tile style="background-color: red">
    six
    </mat-grid-tile>

    <mat-grid-tile style="background-color: red">
    seven
    </mat-grid-tile>
    
  </mat-grid-list>
  